@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "partials/navigation.css";
@import "partials/components.css";
@import "partials/woocommerce.css";
@import "partials/christmas.css";
@import "partials/famous-felines.css";

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

/* Feline Popup Loader */
.feline-popup-loader {
  border: 5px solid #f0f2f5; /* formal-grey */
  border-top: 5px solid #1890ff; /* primary.DEFAULT */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 100px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}