.ff-grid-item {
  width: 32%;
  margin-bottom: 2%;
}

.gutter-sizer {
  width: 2%;
}

/* Add responsive widths */
@media (max-width: 1024px) {
  .ff-grid-item {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .ff-grid-item {
    width: 100%;
  }
}

.vote-btn.voted > svg {
  @apply text-red-600;
}

.ff-sort-buttons .sort-btn {
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  background-color: transparent;
  color: #4a5568;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.ff-sort-buttons .sort-btn.active {
  @apply bg-slate-400;
  color: white;
}
